<div class="divAll">
  <div class="textData">
    <h4>Date:</h4>
  </div>
  <div class="campoData">
    <input type="date">
    <button class="btn btn-primary btnBuscar" (click)="todata()">Search</button>
  </div>
  <div class="titulo">
    <span><strong>Title:</strong> {{ data.title }}</span>
  </div>
  <div class="sobre">
    <span><strong>About:</strong> {{ data.explanation }} </span>
  </div>
  <div >
    <img class="fotoNasa" src="{{ data.url }}" alt="Image of api nasa apod">
  </div>
</div>

